body {
    background-image: url("../images/background.png");
    background-position: 0 0;
    background-repeat: repeat-y;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.button {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    background-color: #195aaa;
    color: #101112;
    border: 2px #101112;
    height: 90px;
    width: 270px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-family: sans-serif;
    display: inline-block;
}

.button:hover, .button:active {
    background-color: #101112;
    color: #195aaa;
}
