body {
    background-image: url("../images/background1.png");
    background-position: 0 0;
    background-repeat: repeat-y;
    background-size: 100% auto;
}

.login {
    transform: scale(0.7);
    position: absolute;
    bottom: 70%;
    left: 27%;
}

.sign_in {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    background-color: #195aaa;
    color: #101112;
    border: 2px #101112;
    height: 90px;
    width: 270px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-family: sans-serif;
    display: inline-block;
    position: absolute;
    bottom: 10%;
    left: 40%;
}

.sign_in:hover, .sign_in:active {
    background-color: #101112;
    color: #195aaa;
}

label {
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-family: sans-serif;
}

input {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    background-color: #a5c3d5;
    color: #101112;
    border: 2px #101112;
    height: 70px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
}

.label1 {
    position: absolute;
    bottom: 55%;
    left: 30%;
}

.label2 {
    position: absolute;
    bottom: 40%;
    left: 30%;
}

.in1 {
    position: relative;
    left: 117px;
}

.in2 {
    position: relative;
    left: 155px;
}

.t {
    height: 70px;
    width: 900px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    font-family: sans-serif;
    position: absolute;
    bottom: 70%;
    left: 23%;
}
