.login_image, .registration_image {
    transform: scale(0.7);
}

.sign_in_button {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    background-color: #195aaa;
    color: #101112;
    border: 2px #101112;
    height: 90px;
    width: 270px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-family: sans-serif;
    display: inline-block;
}

.sign_in_button:hover, .sign_in_button:active {
    background-color: #101112;
    color: #195aaa;
}

label {
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-family: sans-serif;
}

.input {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    background-color: #a5c3d5;
    color: #101112;
    border: 2px #101112;
    height: 70px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
}

.text_error {
    height: 5vh;
    width: 900px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.center_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.center_label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 40vw;
}

.center_image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

