
form {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    background-color: #195aaa;
    color: #101112;
    border: 2px #101112;
    height: 90px;
    width: 270px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-family: sans-serif;
    display: inline-block;
    position: absolute;
    bottom: 10%;
    left: 40%;
}