button {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    background-color: #195aaa;
    color: #101112;
    border: 2px #101112;
    height: 90px;
    width: 270px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-family: sans-serif;
    display: inline-block;
}

button:hover, button:active {
    background-color: #101112;
    color: #195aaa;
}

label {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
}

p {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 70vw;
    height: 20vh;
}

.left_text_ {
    display: flex;
    justify-content: left;
    align-items: center;
}

.input {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    background-color: #a5c3d5;
    color: #101112;
    border: 2px #101112;
    height: 35px;
    width: 180px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}

.question_text {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}

.super_button {
    display: inline-block;
    height: 100px;
    width: 120px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #195aaa;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.super_button:hover {
    background-color: #4254f5;
}

.super_button:active {
    background-color: #4254f5;
    box-shadow: 0 5px #101112;
    transform: translateY(4px);
}

.center_element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_label1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
}

.center_label2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35vw;
}