<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Knoflik login </title>
    <link th:href="@{css/body.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/login.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div>
    <div class="center_image">
        <img class="login_image" th:src="@{images/login.png}" alt="login">
    </div>
    <div class="text_error" th:if="${param.error}">
        Invalid username and password
    </div>
    <div class="text_error" th:if="${param.logout}">
        You have been logged out
    </div>
    <form class="center_form" th:action="@{/login}" method="post">
        <div>
            <div class="center_label">
                <div><label> User Name </label></div>
                <div><input class="input" type="text" name="username"/></div>
            </div>
            <div class="center_label">
                <div><label> Password</label></div>
                <div><input class="input" type="password" name="password"/></div>
            </div>
            <div class="center_button">
                <input class="sign_in_button" type="submit" value="Sign In"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>
